<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="cat '$(find urdf_exam)/urdf/mira_gazebo_controller.urdf'"/>
    
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.045"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	  <arg name="paused" value="true"/>
	  <arg name="use_sim_time" value="true"/>
	  <arg name="gui" value="true"/>
	</include>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model mira -x $(arg x) -y $(arg y) -z $(arg z)" />

    <rosparam file="$(find urdf_exam)/config/mira_control.yaml" command="load"/>
​
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/mira" args="roll_joint_position_controller pitch_joint_position_controller yaw_joint_position_controller joint_state_controller"/>
​
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/mira/joint_states" />
    </node>
          
</launch>